#root {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  touch-action: none;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

@media (min-width: 768px) {
  .card {
    padding: 2em;
  }
}

.read-the-docs {
  color: #888;
}
